*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    direction: rtl;
    @include respond(tab-land) {
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) {
        font-size: 60%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

#kc-locale {
    display: flex;
    justify-content: flex-end;
}

.kc-dropdown{
    // background-color: $color-grey-dark-2;
    position: relative;
    margin: .25rem;
    direction: ltr;
    color: $color-primary-light;
}
.kc-dropdown > a{
    display:block;
    padding: 2rem;
    line-height: 12px;
    font-size: 18px;
    color: inherit;
    text-decoration: none;
    border-radius: .5rem;
}
.kc-dropdown > a::after{
    content: "\2c5";
    margin-left: 2px;
}
.kc-dropdown:hover > a{
    background-color: rgba($color-grey-dark,0.2);
}
.kc-dropdown ul li a{
    padding: 1px 11px;
    font-size: 12px;
    color: #000 !important;
    border: 1px solid #fff;
    text-decoration: none;
    display:block;
    line-height: 20px;
}
.kc-dropdown ul li a:hover{
    color: #4d5258;
    background-color: #d4edfa;
    border-color: #b3d3e7;
}
.kc-dropdown ul{
    position: absolute;
    z-index: 2000;
    list-style:none;
    display:none;
    padding: 5px 0px;
    margin: 0px;
    background-color: #fff !important;
    border: 1px solid #b6b6b6;
    border-radius: .5rem;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    min-width: 100px;
}
.kc-dropdown:hover ul{
    display:block;
}

jdp-container {
    // position: absolute !important;
    max-width: 85% !important;
    bottom: 20px !important;
}

i {
    font-style: normal !important;
}

