#input-error {
    display: none !important;
    color: $color-red;
    text-align: center;
    margin-bottom: 1rem;
    display: block;
    font-size: large;
}

#kc-error-message {
    color: $color-red;
    text-align: center;
    margin-bottom: 1rem;
    display: block;
    font-size: large;
}

.locale-font-family {
    .rtl {
        font-family: Vazirmatn FD;
    }
    .ltr {
        font-family: Vazirmatn;
    }
}

#kc-locale {
    position: absolute;
    top: 0;
}

#kc-registration {
    span {
        padding: 0.7rem 2rem;
        a {
            padding: 0.25rem;
        }
    }
}

#kc-social-providers {
    .ul {
        flex-wrap: wrap;

        .li {
            flex: 1;
            min-width: 45%;
        }
    }
}

.toggle-password {
    font-size: large !important;
    cursor: pointer !important;
}

.time-to-live {
    text-align: center;
    font-size: 1.5rem;
    color: $color-primary;
}

.otp-user-phone-sent-txt {
    display: inline-block;
    direction: ltr;
}

.sms-container {
    // width: 20em;
    // background-color: #ffffff;
    padding: 0em 2em;
    // position: absolute;
    // transform: translate(-50%, -50%);
    // top: 50%;
    // left: 50%;
    border-radius: 0.8em;
    // box-shadow: 0 45px 60px rgba(30, 22, 1, 0.3);
    .inputfield {
        width: 100%;
        display: flex;
        justify-content: space-around;
        direction: ltr;
        gap: 9px;
    }
    .sms-input {
        background-color: #fff;
        border: 1px solid #003171;
        height: 3em;
        width: 5em;
        outline: none;
        text-align: center;
        font-size: 1.5em;
        border-radius: 0.8em;
        outline: none;
        /*Hide number field arrows*/
        -moz-appearance: textfield;

        @include respond(phone) {
            width: 4em;
        }
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .sms-input:disabled {
        color: #89888b;
    }
    .sms-input:focus {
        border: 3px solid #ffb800;
    }
}
.section-book {
    padding: 10rem 0;

    .row {
        max-width: 105rem;
    }
}

.book {
    background-color: $color-white;
    border-radius: 2rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    position: relative;
    .form__input {
        width: 100%;
        font-family: Vazirmatn, yekan, FontAwesome;
    }
    .form__captcha {
        & img {
            max-width: 180px;
            max-height: 35px;
            @include respond(tab-port) {
                max-width: 100px;
            }
        }
        & > .ltr {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem 0.5rem 0 0;
        }
        & > .rtl {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0.5rem 0 0 0.5rem;
        }
    }
    .form__group {
        position: relative;
        width: 100%;
        &__btn {
            .btn {
                width: 100%;
            }
        }

        &__login {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            &__text {
                text-align: center;
                font-size: 20px;
                color: $color-grey-dark-5;
                > .rtl {
                    font-family: Vazirmatn FD;
                }
            }
        }

        &__external-link {
            font-family: Vazirmatn, yekan, FontAwesome;
            display: flex;
            flex-direction: column;
            .ul {
                display: flex;
                justify-content: space-between;
                .li {
                    background-color: $color-primary;
                    color: $color-white;
                    text-align: center;
                    margin: 0.25rem;
                }
            }
            a {
                padding: 1rem;
                &:link,
                &:visited {
                    display: inline-block;
                    font-size: 1.1rem;
                    //font-weight: 300;
                    padding: 0.7rem 2rem;
                    color: $color-primary;
                    text-decoration: none;
                    // text-transform: uppercase;
                    @include respond(tab-port) {
                        font-size: 12px;
                    }
                }
                &:active {
                    background-position: 100%;
                    color: $color-primary;
                    // transform: translateX(1rem);
                }
            }
            .block {
                cursor: not-allowed;
            }
        }
    }

    &__form {
        // height: 71vh;
        & > .ltr {
            border-radius: 0 2rem 2rem 0;
        }
        & > .rtl {
            border-radius: 2rem 0 0 2rem;
        }
        display: flex;
        &__title {
            margin-bottom: 11px;
            h2 {
                color: $color-primary;
                text-align: center;
                font-size: x-large;
                @include respond-height(tab-port) {
                    font-size: large;
                }
            }
        }
        &-image {
            &-logo {
                // margin-bottom: 1rem;
                height: 85%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 70px;
            }
            &-text {
                height: 15%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                padding: 0 0 54px 0;
            }
        }
        &-title-logo {
            margin-bottom: 14px;
            @include respond-height(tab-port) {
                margin-bottom: 10px;
            }
        }
        &-section {
            width: 100%;
            // padding: 3rem;
        }
        @include respond(tab-port) {
            width: 100%;
        }

        // @include  respond-height(tab-land) {
        //     min-height: 71vh;
        // }

        @include respond-height(big-desktop) {
            height: 65vh;
        }
    }

    &__form-image {
        width: 50%;
        background-color: $color-primary;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            color: $color-white;
            font-size: 1.2rem;
            text-align: center;
        }
        @include respond(tab-port) {
            display: none;
        }
    }

    #kc-form-login, #kc-passwd-update-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 54px 70px 0px 70px;

        @include respond(tab-land) {
            // width: 50%;
        }

        @include respond(tab-port) {
            padding: 27px 35px 0px 35px;
            width: 100%;
        }
    }

    #kc-register-form {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 54px 70px 0px 70px;

        .form__section {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            .custom-row {
                display: flex;
                flex-wrap: wrap;
            }
            &__item {
                padding: 0.5rem;
                width: 25%;
                @include respond(tab-port) {
                    width: 100%;
                }
            }
            &__footer {
                width: 40%;
                margin: 1rem auto;
                @include respond(tab-port) {
                    width: 100%;
                }
            }
        }
        // .form__captcha {
        //     top: 36px;
        //     left: 10px;
        // }
        .copyright {
            padding: 0;
            margin-top: 1rem;
            text-align: center;
        }
    }
}
