:root {
    --color-primary: #003171;
    --colorprimary-light: #143673;
    --colorprimary-dark: #0A1E4B;
    --colorgrey-dark: #777;
    --colorgrey-dark2: #999;
    --colorgrey-dark5: #8E8E8E;
    --colorwhite: #fff;
    --colorblack: #000;
}
// COLORS
$color-primary: var(--color-primary);
$color-primary-light: var(--colorprimary-light);
$color-primary-dark: var(--colorprimary-dark);


$color-grey-dark: var(--colorgrey-dark);
$color-grey-dark-2: var(--colorgrey-dark2);
$color-grey-dark-3: #333;
$color-grey-dark-4: #eee;
$color-grey-dark-5: var(--colorgrey-dark5);

$color-white: var(--colorwhite);
$color-black: #000;
$color-red: rgba(204, 0, 0, 0.8);

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;